# Atalhos Jupyter

Command Mode -> Esc.

Edit Mode -> Enter.


- Inserir Célula (command)

    Acima -> A
    
    Abaixo -> B

Tranformar Célula para Text (command) -> M

Transforma em Célula de código (command) -> Y

### Executar codigos 3 atalhos e celulas de texto

crtl + Enter (exceta)

alt + Enter (execulta e insere nova celula)

In [11]:
print("shift + enter excuta e seleciona celula de baixo")

shift + enter excuta e seleciona celula de baixo

## Tab

Tab -> reconhece o final da variavel

variavel. Tab -> Lista de métodos

Shift + Tab -> Mostra informações sobre funções e listar metodos

In [10]:
#ctrl + / -> Tranforma linha de código em comentario

Ctrl + Setas -> navega cursor entre as palavras

Ctrl + S -> Salvar

Ctrl + D -> Deleta a linha  (Edit)



# operações matematicas

In [100]:
1+1

2

In [101]:
3*5

15

In [102]:
12/6

2.0

In [103]:
3 ** 2

9

In [104]:
5 % 2

1

type retorna tipo de dado

In [105]:
type(1)

int

In [106]:
type(1.0)

float

In [107]:
type("String")

str

# Variaveis

In [108]:
x = 1

print(x)

1

Reconhece letras Maiusculas nos mone

In [109]:
string = "texto teste"

In [110]:
print(string)

texto teste

In [111]:
#Concatenação com metodos format

var = "Valor"

print('Texto concatenado : {}'.format(var))

nome = "André"

idade = 27

print('Meu nome é {} e minha idade {}'.format(nome, idade))

Texto concatenado : Valor
Meu nome é André e minha idade 27

# Listas

lista fica entre [] e separadas por virgulas [1,2,3]

In [112]:
lista = [1,2,3,"ABC",[1,2,3]]

print(lista[0])
print(lista[3])
print(lista[4])

1
ABC
[1, 2, 3]


operador : no index de listas
    
    Recebe 2 valores 
    
        inicil : fim
            
        lista[1:3]

In [113]:
print(lista[2:4])

[3, 'ABC']

In [114]:
print(lista[2:])

[3, 'ABC', [1, 2, 3]]

In [115]:
print(lista[:4])

[1, 2, 3, 'ABC']



Strings Tambem funcionam com essas indexações - slice - modo de extração de valores

In [116]:
print(string[:8])

texto te

In [117]:
print(string[3:8])

to te

In [118]:
print(string[3:])

to teste

Uma tupla é uma lista imutavel

In [119]:
tupla = (0, 1, 2, 3, 4, "Tipo")

Dicionarios são estruturas de dados no formato de Objetos: Podem armazenar dados com chaves de referencia e métodos

In [120]:
dict = {
    "Valor": 1,
    "Nome": "Dicionario",
    "Tipo": "Objeto",
    "Logico": True
       }

## Valores Lógicos

In [121]:
True

True

In [122]:
False

False

In [123]:
def teste (n) :
    if n == 1 :
        return True
    elif n == 0 :
        return False

In [124]:
x = 0

y = 1

if teste(y) :
    print(x, teste(x))
    
print("{} = {}".format(y, teste(y)))

0 False
1 = True

In [125]:
x == 1

False

In [126]:
x == 0

True

In [127]:
x > 0

False

In [128]:
x <= 0

True

In [129]:
x != 0

False

In [130]:
(x == 0) and (y > 0)

True

In [131]:
(x < 1) or (x > 1)

True

In [132]:
(x == 0) and (y == 0)

False

In [133]:
for item in tupla:
    if item != "Tipo":
        print(string[item])
    else:
        print(dict[item])

t
e
x
t
o
Objeto

## Estruturas de Repetição

In [134]:
lista = [0, 1, 2, "ABC", 4, False]

In [135]:
for item in lista:
    print(item)

0
1
2
ABC
4
False

In [136]:
seq = list(range(0,10))

print(seq)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
acc = 0

for i in range(0,223442):
    acc = acc + i

In [138]:
acc

24963051961

In [139]:
i = 0

while i != 5:
    print("i é  igual a {}".format(i))
    i = i + 1

i é  igual a 0
i é  igual a 1
i é  igual a 2
i é  igual a 3
i é  igual a 4

In [140]:
lista = []

for item in range(0,10):
    lista.append(item**2)
    
print(lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [141]:
lista2 = [item*2 for item in lista]

In [142]:
for item in lista2:
    lista.append(item)

In [149]:
print(lista)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

'
'
'
# Funções

In [150]:
def printValor(param):
    print("O valor é {}".format(param))

In [151]:
minha_func()

Minha função ta rodando

In [152]:
def soma(a, b):
    return a + b

In [153]:
printValor(soma(lista[4],lista[8]))

O valor é 80

In [154]:
quadrado = lambda var : var ** 2

In [155]:
print(quadrado(3))

9

In [158]:
lista3 = list(map(lambda x: x**2, lista))

print(lista3)

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 0, 4, 64, 324, 1024, 2500, 5184, 9604, 16384, 26244]

In [160]:
lista4 = list(filter(lambda x: x > 1000, lista3))

print(lista4)

[1296, 2401, 4096, 6561, 1024, 2500, 5184, 9604, 16384, 26244]

In [169]:
teste2 = lambda valor : print(valor)

teste2({
    "valor" : 3
})

{'valor': 3}